<?xml version="1.0"?>
<config  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenest\Chapter6\Api\MagenestRulesRepositoryInterface" type="Magenest\Chapter6\Model\ResourceModel\MagenestRulesRepository"/>
    <preference for="Magenest\Chapter6\Api\Data\MagenestRulesInterface" type="Magenest\Chapter6\Model\MagenestRules"/>
</config>